<!DOCTYPE html>
<html>
  <head>
     <%include ../partials/head.html %>
  </head>
  <body class="hold-transition skin-blue">
    <div class="wrapper">
      <header class="main-header">
        <%include ../partials/header.html %>
      </header>
      <aside class="main-sidebar">
        <%include ../partials/menu.html %>
      </aside>
      <div class="content-wrapper">
         <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Data Sources</h3>
                  <a href="/datasource/create" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Create New</a>
                </div>
                <div class="box-body">

            <% if(items.length > 0) { %>

              <div class="table-responsive">
               <table class="table table-condensed">
                <thead>
                  <tr>
                    <td><b>Name</b></td>
                    <td><b>Credential</b></td>
                    <td><b>Updated</b></td>
                  </tr>
                </thead>
                <tbody>
                   <% for (var i = 0; i < items.length; i++ ) {
                      var item = items[i];
                    %>
                      <tr>
                          <td><%=item.name%></td>
                          <td><%=item.credential%></td>
                          <td><%=formatDate(item.updated_on, "dd-MM-yyyy hh:mm:ss")%></td>
                          <td>
                              <a href="/datasource/edit/<%=item._id%>" class="btn btn-default pull-right"><i class="fa fa-pencil"></i></a>
                              <form class="pull-right" action="/datasource/remove/<%=item._id%>" method="delete" onsubmit="return removeDataSource(this);">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                              </form>
                          </td>
                      </tr>
                  <% } %>

                </tbody>
               </table>
             </div>

            <% } else { %>
              <p>No results found.</p>
            <% } %>

              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="main-footer">
        <%include ../partials/footer.html %>
      </footer>
      <div class="control-sidebar-bg"></div>
    </div>
    <%include ../partials/bottom.html %>
  </body>
</html>
