<!DOCTYPE html>
<html>
  <head>
     <%include ../partials/head.html %>
  </head>
  <body class="hold-transition login-page">
    <div class="box login-box">
       <div class="login-logo">
        <h1><%=i18n.signin%></h1>
      </div>
      <div class="login-box-body">
        <div id="message"></div>
        <form action="/user/signin" method="post" onsubmit="return signIn(this)">
          <input type="hidden" class="form-control" name="return_url" value="<%=return_url%>">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" name="email" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              
            </div>
            <div class="col-xs-4"> 
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
          </div>
        </form>
        <a href="/forgot-password"><%=i18n.i_forgot_password%></a><br>
        <a href="/signup" class="text-center"><%=i18n.you_dont_have_an_account_signup_today%></a>
      </div>
      <div class="overlay hide">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
    <%include ../partials/bottom.html %>
    <script src="/plugins/iCheck/icheck.min.js"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>
</html>
