<!DOCTYPE html>
<html>
  <head>
     <%include ../partials/head.html %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <%include ../partials/header.html %>
      </header>
      <aside class="main-sidebar">
        <%include ../partials/menu.html %>
      </aside>
      <div class="content-wrapper">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
                <div class="box">

                  <form action="/credential/create" method="put" onsubmit="return createCredential(this);"> 
                    <div class="box-header with-border">
                      <h3 class="box-title">Create</h3>
                      <a href="/credential" class="btn btn-primary pull-right"><i class="fa fa-right"></i> Back</a>
                    </div>
                    <div class="box-body">
                        <div id="message"></div>
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                          <label for="type">Type</label>
                          <select name="type" onchange="return changeAuthType(this);" class="form-control">
                            <option value="noauth">No Auth</option>
                            <option value="basic">Basic Auth</option>
                            <option value="digest">Digest Auth</option>
                            <option value="oauth1">OAuth 1</option>
                            <option value="oauth2">OAuth 2</option>
                            <option value="hawk">Hawk Authentication</option>
                            <option value="aws">AWS Signature</option>
                          </select>
                        </div>
                        <div class="hide auth-type" id="oauth2-container">
                          <div class="form-group">
                            <label for="auth_url">Auth URL</label>
                            <input class="form-control" name="auth_url" placeholder="Oauth2 Url">
                          </div>
                          <div class="form-group">
                            <label for="access_token_url">Access Token URL</label>
                            <input class="form-control" name="access_token_url" placeholder="Access Token Url">
                          </div>
                          <div class="form-group">
                            <label for="scopes">Scopes</label>
                            <textarea class="form-control" name="scopes" placeholder="Scopes"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="client_id">Client ID</label>
                            <input class="form-control" name="client_id" placeholder="Client ID">
                          </div>
                          <div class="form-group">
                            <label for="client_secret">Client Secret</label>
                            <input class="form-control" name="client_secret" placeholder="Client Secret">
                          </div>
                          <div class="form-group">
                            <label for="redirect_uri">Redirect Uri</label>
                            <input class="form-control" name="redirect_uri" placeholder="Redirect URI">
                          </div>
                          <div class="form-group">
                            <label for="access_type">Access Type</label>
                            <select name="access_type" class="form-control">
                              <option>Offline</option>
                              <option>Online</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="response_type">Response Type</label>
                            <select name="response_type" class="form-control">
                              <option>Code</option>
                            </select>
                          </div>
                        </div>
                        <div class="hide auth-type" id="basic-container">
                          <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" autocomplete="off" name="username" placeholder="Username">
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" autocomplete="off" name="password" placeholder="Password">
                          </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
      <footer class="main-footer">
        <%include ../partials/footer.html %>
      </footer>
      <div class="control-sidebar-bg"></div>
    </div>
    <%include ../partials/bottom.html %>
  </body>
</html>
