<!DOCTYPE html>
<html>
  <head>
     <%include ../partials/head.html %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <%include ../partials/header.html %>
      </header>
      <aside class="main-sidebar">
        <%include ../partials/menu.html %>
      </aside>
      <div class="content-wrapper">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
                <div class="box">
                  <form action="/application/edit/<%=item._id%>" method="post" enctype="multipart/form-data" onsubmit="return editApp(this);"> 
                    <div class="box-header with-border">
                      <h3 class="box-title">Edit</h3>
                      <a href="/application" class="btn btn-primary pull-right"><i class="fa fa-right"></i> Back</a>
                    </div>
                    <div class="box-body">
                        <div id="message"></div>
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" name="name" placeholder="Name" value="<%=item.name%>">
                        </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea class="form-control" name="description" placeholder="Description"><%=item.description%></textarea>
                        </div>
                        <div class="form-group">
                          <label for="icon">Icon</label>
                          <input type="file" class="form-control" name="icon"></input>
                          <% if(item.icon) { %>
                          <img width="100" height="100" src="data:image/jpg;base64,<%=item.icon.replace(/_/g,"/").replace(/-/g,"+")%>" />
                          <% } %>
                        </div>
                        <div class="form-group">
                          <label for="category">Category</label>
                          <select class="form-control" name="category">
                            <option value="">Select Category</option>
                            <option value="analytics" <%=item.category=='analytics' ? "selected":""%>>Analytics</option>
                            <option value="social" <%=item.category=='social' ? "selected":""%>>Social</option>
                            <option value="seo" <%=item.category=='seo' ? "selected":""%>>SEO</option>
                          </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
      <footer class="main-footer">
        <%include ../partials/footer.html %>
      </footer>
      <div class="control-sidebar-bg"></div>
    </div>
    <%include ../partials/bottom.html %>
  </body>
</html>
